apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-datadog
  namespace: kube-system
spec:
  replicas: 1
  selector:
    app: kube-datadog
    source: api
  template:
    metadata:
      labels:
        app: kube-datadog
        source: api
    spec:
      containers:
      - image: {{ kube_datadog_image }}
        name: kube-datadog
        imagePullPolicy: Always
        env:
        - name: KUBE_DATADOG_TAGS
          value: "KubernetesCluster:{{ cluster }},KubernetesClusterRole:cluster"
        - name: KUBE_DATADOG_SOURCE
          value: api
        - name: KUBE_DATADOG_DOGSTATSD
          value: {{ datadog_statsd_host }}
